$padding: 10px;

// fonts
@font-face {
    font-family: Art_Studio;
    src: url(Art_Studio.ttf);
}

@font-face {
    font-family: DJB;
    src: url(DJB.ttf);
}
// --------------- NAVBAR ---------------
.navbar {
  background-image: linear-gradient(#0bd3d3, #f890e7);
  display: flex;
  .nav-center {
    img {
      max-height: 200px;
    }
  }
}

.main {
  display: flex;
  padding-bottom: 40px;
  .main-left {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: $padding;
    width: 30%;
  }
  .main-right {
    border: 1px solid black;
    min-height: 100vh;
    padding: $padding;
    width: 70%;
  }
}

.canvas {
  font-family: Art_Studio;
  h1 {
    text-align: center;
  }
}

.title {
  color: red;
  font-family: DJB;
}

.bookTitle{
  color: orange;
  font-family: DJB;
  cursor: pointer;
  &:hover {
    background-color: yellow;
    transition: background-color 0.5s ease;
  }
}

.thumbnail {
  max-width: 100px;
  &:hover {
    cursor: pointer;
  }
}

.canvasDiv {
  img {
    width: 100%;
  }
}

.categories {
  h2 {
    color: purple;
    font-family: DJB;
  }
  ul {
    margin-top: 5px;
    li {
      color: green;
      font-family: DJB;
      &:hover {
        background-color: #98FB98;
        cursor: pointer;
        transition: background-color 0.5s ease;
      }
    }
  }
}

.categories {
  li {
    div {
      background-color: white;
    }
  }
}

.paint-colors {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
  div {
  border: 1px solid black;
  padding: 5px;
  }
}

x

.display {
  display: block;
}
